* {
    font-family: "Oxygen", sans-serif;
    font-weight: 700;
    font-style: normal;  
    padding: 0%;
    margin: 0%;
  }
  

body {
    background: linear-gradient(to right, rgb(110, 47, 146), rgb(255, 161, 242));
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    list-style: none;
}

#main_container {
    margin-top: 10%;
    width: 1000px;
    height: 800px;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.2);
}

#title_container {
    font-size: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    padding-bottom: 10px;
}

#form_container {
    display: flex;
    justify-content: center;
}

.campos {
    border: none;
    width: 500px;
    margin: 20px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    font-size: 30px;
    padding: 20px;
    outline: none;
}

#send_button {
    border: none;
    width: 200px;
    margin: 20px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    font-size: 30px;
    cursor: pointer;
}

#log_in_container {
    font-size: x-large;
    margin-top: 50px;
    margin-left: 50px;
}
