* {
box-sizing: border-box;
margin: 0;
padding: 0;
font-family: sans-serif;
}

body {
    background-color: rgb(216, 239, 211);
    display: flex;
    justify-content: center;
    margin-top: 10%;
}

.span-container {
    border-top: 2px solid rgb(31, 121, 103);
    border-bottom: 2px solid rgb(31, 121, 103);
    width: 250px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.resultado {
    color: rgb(31, 121, 103);
}

.operacion {
    color: rgb(31, 121, 103);
}

.formulario {
    background-color: rgb(149, 210, 179);
    width: 320px;
    height: 550px;
    padding: 25px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: rgb(31, 121, 103);
    padding: 0px 20px;
}

.filas {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inputs-btn {
    width: 60px;
    height: 60px;
    color: rgb(31, 121, 103);
    border-radius: 20px;
    border: none;
    font-size: 20px;
    margin: 2px;
}

.inputs-btn:hover {
    transition: 0.3s;
    background-color: rgb(216, 239, 211);
}

.submit-btn {
    width: 122px;
    height: 60px;
    border-radius: 20px;
}

.reset {
    width: 60px;
    height: 60px;
    border-radius: 20px;
}

.del {
    width: 122px;
    height: 60px;
    border-radius: 20px;
}